<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="com.redant.barcodescanner"
    version="0.0.1-dev">
    <name>Barcode Scanner</name>
    <description>Barcode Scanner</description>
    <license>Apache 2.0</license>
    <keywords>cordova,barcode,scanner</keywords>
    <repo>git@bitbucket.org:retailos/barcodescanner.git</repo>
    
    <js-module src="scanner.js" name="scanner">
        <clobbers target="scanner" />
    </js-module>
    
    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="Scanner">
                <param name="ios-package" value="CDVScannerPlugin"/>
            </feature>
        </config-file>
        <config-file target="*-Info.plist" parent="UISupportedExternalAccessoryProtocols">
            <array>
                <string>com.socketmobile.chs</string>
            </array>
        </config-file>
        
        <framework src="ExternalAccessory.framework" />
        
        <header-file src="RABarcodeScanner.h" />
        <source-file src="RABarcodeScanner.m" />
        <header-file src="CDVSCannerPlugin.h" />
        <source-file src="CDVSCannerPlugin.m" />
        
        <!-- SocketMobileSDK -->
        <source-file src="Libs/SocketMobile/lib/libScanApi.a" framework="true" />
        <header-file src="Libs/SocketMobile/include/BtHelper.h" />
        <header-file src="Libs/SocketMobile/include/BtHelperWm.h" />
        <header-file src="Libs/SocketMobile/include/GenBarcode.h" />
        <header-file src="Libs/SocketMobile/include/ISktScanApi.h" />
        <header-file src="Libs/SocketMobile/include/ISktScanDecodedData.h" />
        <header-file src="Libs/SocketMobile/include/ISktScanDevice.h" />
        <header-file src="Libs/SocketMobile/include/ISktScanEvent.h" />
        <header-file src="Libs/SocketMobile/include/ISktScanMsg.h" />
        <header-file src="Libs/SocketMobile/include/ISktScanObject.h" />
        <header-file src="Libs/SocketMobile/include/ISktScanProperty.h" />
        <header-file src="Libs/SocketMobile/include/ISktScanSymbology.h" />
        <header-file src="Libs/SocketMobile/include/ISktScanVersion.h" />
        <header-file src="Libs/SocketMobile/include/ScanAPI.h" />
        <header-file src="Libs/SocketMobile/include/SktClassFactory.h" />
        <header-file src="Libs/SocketMobile/include/SktScanAPI.h" />
        <header-file src="Libs/SocketMobile/include/SktScanCore.h" />
        <header-file src="Libs/SocketMobile/include/SktScanDeviceType.h" />
        <header-file src="Libs/SocketMobile/include/SktScanErrors.h" />
        <header-file src="Libs/SocketMobile/include/SktScanPropIds.h" />
        <header-file src="Libs/SocketMobile/include/SktScanTypes.h" />
        <header-file src="Libs/SocketMobile/DeviceInfo.h"/>
        <source-file src="Libs/SocketMobile/DeviceInfo.m" />
        <header-file src="Libs/SocketMobile/ScanApiHelper.h"/>
        <source-file src="Libs/SocketMobile/ScanApiHelper.mm" />
        <header-file src="Libs/SocketMobile/ScanApiIncludes.h"/>
        
    </platform>
    
</plugin>
